yolo11m.pt
yolo11n.pt
compare_results
confusion_matrix_normalized.png
confusion_matrix.png
F1_curve.png
labels_correlogram.jpg
labels.jpg
P_curve.png
PR_curve.png
R_curve.png
train_batch0.jpg
train_batch2.jpg
train_batch1.jpg
val_batch0_labels.jpg
val_batch0_pred.jpg
val_batch1_labels.jpg
val_batch1_pred.jpg
val_batch2_labels.jpg
val_batch2_pred.jpg
yolo11m/100epoch/rotifera/exp1/train_batch37260.jpg
yolo11m/100epoch/rotifera/exp1/train_batch37261.jpg
yolo11m/100epoch/rotifera/exp1/train_batch37262.jpg
yolo11m/200epoch/no_rotifera/exp1/train_batch29450.jpg
yolo11m/200epoch/no_rotifera/exp1/train_batch29451.jpg
yolo11m/200epoch/no_rotifera/exp1/train_batch29452.jpg
yolo11m/200epoch/rotifera/exp1/train_batch78660.jpg
yolo11m/200epoch/rotifera/exp1/train_batch78661.jpg
yolo11m/200epoch/rotifera/exp1/train_batch78662.jpg
yolo11m/50epoch/no_rotifera/exp1/train_batch6200.jpg
yolo11m/50epoch/no_rotifera/exp1/train_batch6202.jpg
yolo11m/50epoch/no_rotifera/exp1/train_batch6201.jpg
yolo11m/50epoch/rotifera/exp1/train_batch16562.jpg
yolo11m/50epoch/rotifera/exp1/train_batch16561.jpg
yolo11m/50epoch/rotifera/exp1/train_batch16560.jpg
yolo11n/100epoch/no_rotifera/exp1/train_batch3510.jpg
yolo11n/100epoch/no_rotifera/exp1/train_batch3511.jpg
yolo11n/100epoch/no_rotifera/exp1/train_batch3512.jpg
yolo11n/100epoch/rotifera/exp1/train_batch9360.jpg
yolo11n/100epoch/rotifera/exp1/train_batch9361.jpg
yolo11n/100epoch/rotifera/exp1/train_batch9362.jpg
yolo11n/200epoch/no_rotifera/exp1/train_batch7410.jpg
yolo11n/200epoch/no_rotifera/exp1/train_batch7411.jpg
yolo11n/200epoch/no_rotifera/exp1/train_batch7412.jpg
yolo11n/200epoch/rotifera/exp1/train_batch19760.jpg
yolo11n/200epoch/rotifera/exp1/train_batch19761.jpg
yolo11n/200epoch/rotifera/exp1/train_batch19762.jpg
yolo11n/50epoch/no_rotifera/exp1/train_batch1560.jpg
yolo11n/50epoch/no_rotifera/exp1/train_batch1561.jpg
yolo11n/50epoch/no_rotifera/exp1/train_batch1562.jpg
yolo11n/50epoch/rotifera/exp1/train_batch4160.jpg
yolo11n/50epoch/rotifera/exp1/train_batch4161.jpg
yolo11n/50epoch/rotifera/exp1/train_batch4162.jpg
runs
yolo11m/100epoch/no_rotifera/exp1/train_batch13950.jpg
yolo11m/100epoch/no_rotifera/exp1/train_batch13951.jpg
yolo11m/100epoch/no_rotifera/exp1/train_batch13952.jpg
